 body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        ul {
            padding: 0;
        }

        li {
            margin: 10px 0;
            padding-top: 10px;
        }

        .link-li:hover {
            text-decoration: underline;
            color: #333;
        }

        .link-li {
            text-decoration: none;
            color: #000;
            font-size: 18px;
        }

        .volver-atras {
            background-color: #000000ff;
            color: white;
            border: none;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
        }

        .volver-atras a {
            color: white;
            text-decoration: none;
        }

        .submit {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }